<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/fontawesome.min.css" integrity="sha512-U/gkPvaqpUI9k7UC1ivfLUO+hb1dPzQyWskzeYoDjZENrWvLVZ40mg510RvWsVP3YcuKW4lAkfxgU9khbNhTrg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/brands.min.css" integrity="sha512-nvJNGNsQy69Ogs4KBn+nu1x42OzCTxjOIKL3S2H9BYqUQImQ5hfDMcbh71l/6O0oRjTVUAlTLFZJA8gvWrJnmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/solid.min.css" integrity="sha512-c8EiZsFDfLKFgHdF6gPX3UTAszlpUXOkJS05I3856M0lAnBLcK8YA8T+ldhjIFUoJ6knJlkwJ1V1laspkoBeqA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes</title>
        <style>
            *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            html{
                font-size: 62.5%;
            }

            body{
                font-size: 1.6rem;
            }

        </style>
    </head>
    <body>
        <header class="main-header-container">
            <div class="main-header">
                <h1><i class="fas fa-address-book"></i> Recipes {{name}}</h1>
            </div>
        </header>
        
    </body>
</html>